@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    display: grid;
    margin-top: 60px;
    width: 100%;
}

.main-nav {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.main-nav__brand {
    margin-right: auto;
}

.main-nav__brand img {
    height: 2rem;
    vertical-align: middle;
    /* width: 5.5rem; */
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    vertical-align: middle;
}

.main-nav__item {
    padding: 0.8rem;
    cursor: pointer;
}

.grid-container {
    display: grid;
    padding: 0.5rem 1rem;
}

.main-header {
    background-image: url('images/illustration-1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 12.5rem;
    margin-top: 5rem;
}

.intro {
    text-align: center;
}

.intro-input {
    width: 16rem;
    padding: 0.5rem 1rem;
    margin: 0.8rem;
    border-radius: 5px;
    border: 1px solid #424141;
}

.intro-input::placeholder {
    color: #cccccc;
}

.intro-button {
    font-family: 'Raleway', sans-serif;
    display: block;
    margin: 0 auto;
    width: 16rem;
    border: none;
    padding: 0.5rem 1rem;
    background: hsl(224, 93%, 58%);
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(56, 56, 56);
    transition: all 0.2s ease-in;
}

.intro-button:hover {
    box-shadow: 0px 0px 0px transparent;
}

/*Productive section styles*/
#grid-prod {
    background: hsl(240, 75%, 98%);
    width: 100%;
    margin-top: 5rem;
    margin-bottom: -1.3rem;
}

/* #grid-prod::before {
    content: url('images/bg-curve-mobile.svg');
    position: absolute;
    padding: 0;
    top: 85%;
    box-sizing: content-box;
} */

.productive {
    background-image: url('images/illustration-2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 12.5rem;
    margin: 3rem 0;
}

.productive-info p {
    color: hsl(238, 22%, 44%);
}

.productive-info__header {
    text-align: center;
    font-weight: 700;
}

.productive-link__container {
    text-align: center;
    margin: 1rem 0;
}

.productive-info__link {
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    padding: 0.5rem 0;
    vertical-align: middle;

}

.productive-info__link::after {
    content: url('images/icon-arrow.svg');
    vertical-align: middle;
    padding-left: 8px;
    padding-top: 4px
}

.flex-testimonial {
    display: flex;
}

.productive-testimonial {
    background-color: white;
    width: 90%;
    max-width: 22.4rem;
    min-height: 12.6rem;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 6rem;
    padding: 1.8rem;
    border-radius: 8px;
    box-shadow: -2px 2px 10px hsl(0, 0%, 75%), 2px 2px 10px hsl(0, 0%, 75%);
}

.avatar-testimonial {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.founder {
    padding-left: 10px;
}

.founder p {
    margin: 0;
}

.founder-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-bottom: 0.2rem;
}

.founder-title {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.7);
}

.signUp {
    background-color: hsl(238, 22%, 44%);
    text-align: center;
    padding: 2rem;
    color: white;
}

.footer {
    color: white;
    padding: 3rem 2rem;
    background-color: hsl(243, 87%, 12%);
}

.footer-logo path {
    fill: #ffffff;
}

.contact {
    margin: 1rem 0;
}

.email-phone {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.email-phone p {
    padding: 0;
}

.email-phone img {
    height: 100%;
    margin-right: 0.8rem;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.footer-link {
    padding: 0.2rem;
}

.contact-terms-privacy {
    margin: 2rem 0;
}

.social-icons {
    display: flex;
    color: white;
    width: 7.5rem;
    margin: 0 auto;
    justify-content: space-between;
    cursor: pointer;
}

.social-icon {
    border: 1px solid white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    padding: 0.5rem;
}

/*Desktop Styles*/
@media (min-width: 40rem) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* .main-header {
        grid-area: main-header;
    }

    .intro {
        grid-area: intro;
    } */

    .productive {
        grid-area: productive-img;
    }

    .productive-info {
        grid-area: productive-info;
    }


    .productive-testimonial {
        grid-area: testimonial;
        margin-left: 0;
    }

    /* .signUp {
        grid-area: signUp;
    }

    .footer {
        grid-area: footer;
    } */

    /* .wrapper {
        grid-template-areas: 
        "intro main-header"
        "productive-info productive-img"
        "prod-link productive-img"
        "testimonial productive-img"
        "signUp signUp"
        "footer footer";
    } */

    .main-header {
        order: 2;
    }

    .intro {
        text-align: left;
        padding-right: 10rem;
    }

    .intro-form {
        display: flex;
        align-items: center;
    }

    .productive {
        order: 2;
        margin: auto 0;
    }

    .productive-info__header {
        text-align: left;
    }

    .productive-link__container {
        text-align: left;
    }

    #grid-prod {
        grid-template-areas:
            "productive-info productive-img"
            "testimonial productive-img"
    }

    .signUp {
        display: flex;
        justify-content: space-between;
    }

    .signUp-text {
        text-align: left;
        width: 500px;
    }

    .signUp-form {
        padding-top: 0;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer nav {
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
    }
}